body {
  background-color:thistle;
  color: black;
  text-align: left;
}

h1 {
   color: 2px black;
   text-align: center;
   font-style: normal;
}
h2{
  font-style: bold;
  color: black;
  text-align: left;
}
h4{
  color: black;
  text-align: center;
  font-style: normal;
}
#sections {
  text-align: left;
  font-size: 140%;
  color: black;
  font-style: "normal";
}
p {
   color: black;
   text-align: left;
   font-style: "normal";
}
